.navbar-custom {
  background-color: rgb(40,43,74);
  display: flex;
}

.nav-link{
  color:white;
  font-family: 'NeuzeitGro-Lig';

}

.navbarimagepulse{
  padding: 1em;
  animation: call 2s infinite linear;
}

.navbarimage{
  padding: 1em;
}

li.nav-item {
  align-self: center;

  @media only screen and (max-width: 986px) {
    align-self: flex-start;
  }
}

  .navbar-nav {
    .dropdown-menu {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      padding: 12px;
  
      a {
        padding: 15px;
        font-size: 15px;
        font-family: 'NeuzeitGro-Lig';
      }
      a:hover {
        background-color: var(--light-purple);
      }
    }
  }