.card-icon {
  position: absolute;
  top: -95px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  z-index: 2;
  margin: auto;

  img {
    height: auto;
    width: 90%;
  }
}

.card-container {
  position: relative;
  align-items:space-around;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.green {
  background-color: var(--bright-green);
}

.purple {
  background-color: var(--bright-purple);
}

.card-content {
  justify-content: stretch;
  align-content:stretch;
  text-align: center;
  border-radius: var(--border-radius);
  background-color: var(--light-purple);
  padding: 34px;
  padding-top: 5.5rem;
  transform: translateY(-60px);
  z-index: 0;
  color: var(--dark-purple);
}

.card-title {
  margin-top: auto;
  font-family: 'NeuzeitGro-Bol';
}

.card-description {
  font-family: 'NeuzeitGro-Lig';
}