.card-icon {
  position: absolute;
  top: -95px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  z-index: 2;
  margin: auto;

  img {
    height: auto;
    width: 90%;
  }
}

.card-container {
  position: relative;
  align-items: space-around;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
}

.green {
  background-color: var(--bright-green);
}

.dark-purple {
  background-color: var(--dark-purple);
}

.purple {
  background-color: var(--bright-purple);
}

.card-content {
  justify-content: stretch;
  align-content: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  border-radius: var(--border-radius);
  background-color: rgba(240,	242,	246, 0.9);
  padding: 13px;
  padding-top: 5.5rem;
  transform: translateY(-60px);
  z-index: 0;
  color: var(--dark-purple);

  &.light {
    background: var(--white);
  }
}

.card-title {
  font-family: 'NeuzeitGro-Bol';
}

.card-description {
  flex: 1 0 auto;
  text-align: center;
  align-content: start;
  align-self: stretch;
  font-family: 'NeuzeitGro-Lig';
  padding: 10px 15px;
  border-top: 4px solid rgba(255, 255, 255, 0.456);
}