.ecrebo-product {
  color: var(--white);
  font-family: 'NeuzeitGro-Lig';
  .main_header {
    text-align: left;
    margin: 0;
    padding: 32px 0 0 64px;
  }
}

.container-fluid {
  width: 100%;
  max-width: 1000px;
}

.descriptiontext {
  font-size: 24px;
  line-height: 36px;
}

.clicktosee {
  color: white;
  font-family: 'NeuzeitGro-Bol';
  font-size: 30px;
  @media only screen and (max-width: 968px) {
    width: 100%;
    text-align: left;
  }
}

.clickto {
  color: var(--bright-green);
  font-family: 'NeuzeitGro-Bol';
  font-size: 32px;
}

.demo-buttons {
  padding: 30px;
  background: linear-gradient(205deg, var(--dark-purple) 20%, #565091);
  width: calc(50% - 64px);
  justify-self: end;
  position: relative;
  z-index: 100;
  border-radius: 20px 0 0 20px;
  margin-left: 0px;
  button {
    text-wrap:nowrap;
    font-size: 1.5vw;
    transition: 0.3s;
    background-color: unset;
    color: white;
    font-family: 'NeuzeitGro-Lig';
    border: none;
    padding:  1.5vw 0;
    opacity: 1;
    z-index: 100;
    span {
      transition: 0.3s;
      margin: 0 0 0 8px;
    }
    @media only screen and (max-width: 968px) {
      text-align: center;
      justify-self: start;
      font-size: 20px;
    }

    @media only screen and (max-width: 767px) {
      text-align: center;
      font-size: 15px;
      padding: 10px 0;

    }
  }
  @media only screen and (max-width: 968px) {
    text-align: center;
    justify-self: center;
    width: 90%;
    margin: 0;
    border-radius: 20px 20px 0 0; 
  }
  

  button:hover,
  button:focus,
  button.active {
    span {
      margin: 0 0 0 15px;
    }
    opacity: 0.7;
  }
}

.riveCircle {
  max-width: 100%;
  position: absolute;
  top: 0;
  right: 0;
}