.ecrebo-product {
  color: var(--white);
  font-family: 'NeuzeitGro-Lig';
  .main_header {
    text-align: left;
    margin: 0;
    padding: 32px 0 0 64px;
  }
}

.click-ref {
  color: white;
  margin-top: 100px;

  a {
    color: var(--bright-green);
  }

  a:hover {
    color: var(--white);
  }
}

.click-ref-mobile {
  color: white;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  z-index: 100;

  a {
    color: var(--bright-green);
  }

  a:hover {
    color: var(--white);
  } 
}

.container-fluid {
  width: 100%;
  max-width: 1000px;
}

.descriptiontext {
  font-size: 24px;
  line-height: 36px;
}

.clicktosee {
  color: white;
  font-family: 'NeuzeitGro-Bol';
  font-size: 30px;
  @media only screen and (max-width: 986px) {
    width: 100%;
    text-align: left;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
    font-size: 22px;

    text-align: left;
  }
}

.clickto {
  color: var(--bright-green);
  font-family: 'NeuzeitGro-Bol';
  font-size: 32px;
}

.demo-buttons {
  padding: 30px;
  background: linear-gradient(205deg, var(--dark-purple), var(--bright-purple));
  width: calc(50% - 64px);
  justify-self: end;
  position: relative;
  z-index: 100;
  border-radius: 20px 0 0 20px;
  margin-left: 0px;
  button {
    text-wrap:nowrap;
    font-size: 20px;
    transition: 0.3s;
    background-color: unset;
    color: white;
    font-family: 'NeuzeitGro-Lig';
    border: none;
    padding:  20px 0;
    opacity: 1;
    z-index: 100;
    span {
      transition: 0.3s;
      margin: 0 0 0 8px;
    }

    @media only screen and (max-width: 786px) {
      text-align: left;
      font-size: 16px;
      padding: 10px 0;
    }
    
  }

  @media only screen and (max-width: 986px) {
    justify-self: start;
    width: calc(100% - 128px);
    margin: 0;
    border-radius: 20px 20px 0 0; 
  }

  @media only screen and (max-width: 786px) {
    font-size: 18px;
    padding: 20px;
    width: 100%;

  }
  

  button:hover,
  button:focus,
  button.active,
  button.active-button {
    span {
      margin: 0 0 0 15px;
    }
    opacity: 0.7;
  }
}

.riveCircle {
  max-width: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.riveCircle2 {
  max-width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(270deg);
  z-index: 0;
}