.ecrebo-product {
  color: var(--white);
  font-family: 'NeuzeitGro-Lig';
  .main_header {
    text-align: left;
    margin: 0;
    padding: 64px 0 0;
  }
}

.container-fluid {
  width: 100%;
  max-width: 1200px;
}

.descriptiontext {
  font-size: 24px;
  line-height: 36px;
}

.clicktosee {
  color: var(--bright-green);
  font-family: 'NeuzeitGro-Bol';
  font-size: 30px;
  @media only screen and (max-width: 968px) {
    width: 100%;
    text-align: left;
  }
}

.clickto {
  color: var(--bright-green);
  font-family: 'NeuzeitGro-Bol';
  font-size: 32px;
}

.demo-buttons {
  width: calc(50% - 64px);
  justify-self: end;
  position: relative;
  z-index: 100;
  margin-left: 0px;
  button {
    text-wrap:nowrap;
    font-size: 130%;
    transition: 0.3s;
    background-color: unset;
    color:white;
    font-family: 'NeuzeitGro-Lig';
    border: none;
    padding:  25px 0;
    opacity: 1;
    z-index: 100;
    span {
      transition: 0.3s;
      margin: 0 15px 0 0;
    }
    @media only screen and (max-width: 968px) {
      text-align: center;
      justify-self: start;
    }

    @media only screen and (max-width: 767px) {
      text-align: center;
      font-size: 15px;
      padding: 10px 0;

    }
  }
  @media only screen and (max-width: 968px) {
    text-align: center;
    justify-self: center;
    width: unset;
    margin: 0;
  }
  

  button:hover,
  button:focus,
  button.active {
    span {

      margin: 0 5px 0 10px;
    }
    opacity: 0.7;
  }
}