#contact-us {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background: linear-gradient(0deg, var(--dark-purple), var(--bright-purple));
  color: white;
  margin: 0 64px;
  z-index: -20;
  padding: 0 64px 64px;

  button {
    position: relative;
    z-index: 10;
  }
  
  @media only screen and (max-width: 968px) {
    margin: 0 24px; 
    padding: 0 24px 24px;
  }

  button:hover {
    background-color: rgba(40,43,74, 0.9);
  }

  h1 {
    @media only screen and (max-width: 968px) {
      padding: 12px;
    }
  }
}

form {
  @media only screen and (max-width: 968px) {
    margin: 0;
  }
}
/* 
.email-circles {
  position: absolute;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: auto;
} */

.form-control {
  height: 42px;
  width: 100%;
  font-family: 'NeuzeitGro-Lig';
  border-radius: 4px;
  border: 0px solid;
  margin: 12px 0;
  padding: 6px;
  resize: vertical;
}

.textarea {
  height: 24px;
  padding: 6px;
  font-family: 'NeuzeitGro-Lig';
  border-radius: 2px;
  border: 0px solid;
  margin: 12px 0;
  resize: vertical;
  width: 100%;
}

.disclaimer {
  position: relative;
  line-height: 20px;
  z-index: 0;
  float: left;
  font-family: "NeuzeitGro-Lig";
  font-size: 13px;
  margin: 0 0 20px;
  opacity: 1;
  color: rgba(255, 255, 255, 0.771);
}

.success {
  display:none;
}

.errors {
  display:none;
}
