#contact-us {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  /* background: linear-gradient(0deg, var(--dark-purple), var(--bright-purple)); */
  color: var(--dark-purple);
  margin: 0 auto;
  padding: 15px 64px 40px;
  max-width: 1200px;
  z-index: 10;
  position: relative;
  
  @media only screen and (max-width: 1228px){
    padding: 15px 64px 40px;
  }

  .row > * {
    padding-left: 0;
  }

  button {
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: 0.75rem;
  }

  @media only screen and (max-width: 986px) {
    padding: 15px 64px 40px;
  }

  @media only screen and (max-width: 765px) {
    padding: 15px 24px 40px;
  }

  button:hover {
    background-color: transparent;
  }

  h1 {
    @media only screen and (max-width: 986px) {
      padding: 12px;
    }
  }
}

.email-outsides {
  h1 {
    font-size: var(--typography-x-md);
    padding: 0;
    text-align: left;
    margin-left: 0;
    
  }
}

form {
  @media only screen and (max-width: 986px) {
    margin: 0;
  }
}

.form-control {
  color: var(--dark-purple);
  height: 42px;
  font-family: 'NeuzeitGro-Lig';
  border-radius: 4px;
  border: 0.2px solid lightgrey;
  margin: 12px 0;
  z-index: 10;


  resize: vertical;
}

.textarea {
  height: 24px;
  padding: 6px;
  font-family: 'NeuzeitGro-Lig';
  border-radius: 2px;
  border: 0px solid;
  margin: 12px 0;
  resize: vertical;
  width: 100%;
}

textarea.form-control {
  min-height: 100px;
}

.disclaimer {
  position: relative;
  line-height: 20px;
  z-index: 0;
  float: left;
  font-family: "NeuzeitGro-Lig";
  font-size: var(--typography-xs);
  margin: 0 0 20px;
  opacity: 1;
  color: var(--light-purple);
  text-align: right;
  margin-left: auto;
  margin-right: 0.75rem;
  float: right;
}

.success {
  color: var(--bright-green);
  margin: 15px;
  width: fit-content;
  margin-left: auto;
  list-style: none;
}

.errors {
  color: var(--bright-purple);
  width: fit-content;
  margin: 15px;
  margin-left: auto;
  list-style: none;
}

.email-header {
  button {
    color: var(--dark-purple);
  }
}

.email-circle {
  position: absolute;
  bottom: 0;
  height: 450px;
  z-index: -1;
  left: -200px;
}