.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 32px;
  grid-auto-rows: 1fr;
  padding-top: 100px;
  margin: 0 var(--default-margin);
  align-items: stretch;

}

@media only screen and (max-width: 768px) {
  .container-grid {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 12px;
    grid-auto-rows: 1fr;
    margin: 6px 24px;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
  }

  .card-icon {
    z-index: 20;
    position: relative;
    top: 0;
  }

  .card-container {
    display: block;
  }
}