h1 {
  font-family: 'NeuzeitGro-Bol';
  text-align: center;
  padding-top: var(--default-margin);
  margin: 12px 36px;

  .green_span {
    color: var(--bright-green);
  }
  @media screen and (max-width: 987px){
    margin: 12px 6px;
  }
}

.dark {
  color: var(--dark-purple);
}

.white {
  color: var(--white);
}

.round-div {
  border-radius: var(--border-radius);
  background-color: var(--dark-purple);
}