h1 {
  font-family: 'NeuzeitGro-Bol';
  text-align: center;
  padding-top: var(--default-margin);
  margin: 12px 36px;

  .green_span {
    color: var(--bright-green);
  }


  .purple_span {
    color: var(--bright-purple);
  }

  @media screen and (max-width: 987px){
    margin: 12px 6px;
  }
}

.dark {
  color: var(--dark-purple);

  &.spaced-header-cards {
    position:relative;
    padding-top: 90px;
    padding-bottom: 0;
  
  }

}

.white {
  color: var(--white);
}

.round-div {
  border-radius: var(--border-radius);
  background-color: var(--dark-purple);
}