h1 {
  font-family: 'NeuzeitGro-Bol';

  .green_span {
    color: var(--bright-green);
  }

  .purple_span {
    color: var(--bright-purple);
  }

  @media screen and (max-width: 987px){
    margin: 12px 6px;
  }
}

.dark {
  color: var(--dark-purple);
}

.white {
  color: var(--white);
}