.hero-home {
  /* border-image: fill 0 linear-gradient(140deg, rgba(40, 43, 74, .9),rgba(118, 98, 238, 0.5), rgba(118, 98, 238, 0.3)); */
  background-size: cover;
  height: 100%;
  margin: 0;
  min-height: 52vh;
  padding: 64px;
  padding-right: 0;
  background-position-y: 25%;

  color: white;
  font-size: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  display: block;

  @media only screen and (max-width: 968px) {
    display: flex;
    padding: 0;
    padding-top: 30px;
    justify-content: space-evenly;
    transform: translateY(50px);
  }

  .hero-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

  }

  .hero-img {
    position: relative;
    z-index: 3;
    background: url('/assets/HeroImage-Home.jpg');
    height: 62vh;
    background-size:cover;
    margin: 0;
    border-top-left-radius: 31vh;
    border-bottom-left-radius: 31vh;
    width: 55%;
    float: right;
    @media only screen and (max-width: 968px) {
      /* border-radius: 100px 100px 0 0; */
      width: 90vw;
      align-self: end;
      height: 25vh;
      background-position: 10% 70%;
    }
  }

  .green_span {
    color: var(--bright-green);
  }
  h3 {
    max-width: 40%;
    float: left;
    position: absolute;
    top: 12%;
    width: 50%;
    font-size: 55px;
    color: white;
    @media only screen and (max-width: 968px) {
      position: unset;
      max-width: 100%;
      font-size: 2.5em;
      text-align: center;
      width: 100%;
    }
  }
}

.product-hero-img {
  max-height: 100%;
  width: auto;
  @media only screen and (max-width: 968px) {
    max-width: 70%;
    margin: auto;
  }
}


.hero-home:before {
  background: linear-gradient(-45deg, rgba(var(--bright-purple), 0.5), rgba(var(--dark-purple), 0.2))
}

.cpr-hero-div {
  height: 21vh;
  width: 100%;
  padding: 64px 32px 64px 64px;
  background-image: url("/assets/CPR_image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* border-image: fill 0 linear-gradient(140deg, rgba(40, 43, 74, 1) 10%, rgba(118, 98, 238, 0.2) 50%); */
  @media only screen and (max-width: 968px) {
    padding: 24px 32px;
  }
}

.trm-hero-div {
  height: 21vh;
  width: 100%;
  padding: 12px 32px 100px 64px;
  background-image: url("/assets/Grocery_coupon_US.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* border-image: fill 0 linear-gradient(140deg, rgba(40, 43, 74, 1) 10%, rgba(118, 98, 238, 0.2) 50%); */
  @media only screen and (max-width: 968px) {
    padding: 24px 32px;
  }
}

.product-page {
  background: var(--dark-purple);
}

.hero_subtitle {
  color: white;
  font-size: 39px;
  padding-top: 18px;
  padding-left: 3px;
  font-family: "NeuzeitGro-Lig";
}

.externalpagedescription {
  background-color: var(--dark-purple);
  border: 0;
  padding: 24px 0;
  text-align: center;
}