.hero-transparent {
  background-color: white;
  height: 1px;
  margin: 0;
  position: relative;
  overflow: visible;
  z-index: 1;
  @media only screen and (max-width: 986px) {
    height: 1px;
  }
}

.hero-main {
  background: linear-gradient(var(--dark-purple) -10%, var(--bright-purple) 70%);
}

.hero-home {
  max-width: 1200px;
  background-size: cover;
  display: block;
  height: 100%;
  width: 100%;
  padding: 64px 64px 0 64px;
  padding-right: 0;
  background-position-y: 25%;
  color: white;
  font-size: var(--typography-sm);
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  position:relative;
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin: 0 auto 50px;


  @media only screen and (max-width: 986px) {
    display: flex;
    padding: 0;
    padding-top: 30px;
    justify-content: space-evenly;
    transform: translateY(50px);
  }

  .green_span {
    color: var(--bright-green);
  }
  
  .hero-img {
    max-width: 40%;
    height: 100%;
    @media only screen and (max-width: 986px) {
      width: 65%;
      height: auto;
      max-width: unset;
    }
  }

  h1 {
    width: 50%;
    font-size: var(--typography-xxl);
    color: white;
    padding: 0;
    padding-bottom: 20px;
    text-align: left;
    @media only screen and (max-width: 986px) {
      position: unset;
      max-width: 80%;
      margin: 0 auto 25px;
      text-align: center;
      width: 100%;
    }
  }
}

.product-hero-img {
  max-height: 100%;
  width: auto;
  @media only screen and (max-width: 986px) {
    max-width: 70%;
    margin: auto;
  }
}


.hero-home:before {
  background: linear-gradient(-45deg, rgba(var(--bright-purple), 0.5), rgba(var(--dark-purple), 0.2))
}

.cpr-hero-div {
  height: 35vh;
  width: 100%;
  padding: 64px 32px 64px 64px;
  background-image: url("/assets/CPR_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* border-image: fill 0 linear-gradient(140deg, rgba(40, 43, 74, 1) 10%, rgba(118, 98, 238, 0.2) 50%); */
  @media only screen and (max-width: 986px) {
    padding: 24px 32px;
  }
}

.trm-hero-div {
  height: 35vh;
  width: 100%;
  padding: 12px 32px 100px 64px;
  background-image: url("/assets/Grocery_coupon_US.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* border-image: fill 0 linear-gradient(140deg, rgba(40, 43, 74, 1) 10%, rgba(118, 98, 238, 0.2) 50%); */
  @media only screen and (max-width: 986px) {
    padding: 24px 32px;
  }
}

.row {
  margin: 0;
  justify-content: center;
}

.hero_subtitle {
  color: white;
  font-size: var(--typography-lg);
  padding-top: 18px;
  padding-left: 3px;
  font-family: "NeuzeitGro-Lig";
}

.descriptiontext {
  font-size: var(--typography-sm);
  line-height: 36px;
  font-family: 'NeuzeitGro-Lig';

  @media only screen and (max-width: 986px) {
    max-width:550px;
    margin: 0 auto 30px;
  }
}

.hero-home-cpr {
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 64px auto;
  color: var(--dark-purple);
  font-size: var(--typography-sm);
  justify-content: center;
  position:relative;

  @media only screen and (max-width: 986px) {
    display: flex;
    padding: 20px;
    gap: 30px;
    flex-direction: column;
    margin: 0;
  }

  .purple-background-circle {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 100px;
  }
  .cpr-row {
    width: 100%;
    max-width: 1200px;
    @media only screen and (max-width: 986px) {
      flex-wrap: wrap;
    }
  }

  .hero-content {
    width: 50%;
    align-self: center;
    float: left;
    
    @media only screen and (max-width: 986px) {
      width: calc(100% - 96px);
      text-align: left;
    }

    @media only screen and (max-width: 786px) {
      width: 100%;
    }

  }

  .hero-content-purple {
    background-color: var(--dark-purple);
    position: absolute;
    top: -1px;
    right: -10px;
    height: 105%;
    width: 50%;
    @media only screen and (max-width: 986px) {
      z-index: -1;
      width: 100%;
      height: 50%;
    }
  }

  .hero-img-cpr {
    position: relative;
    z-index: 3;
    max-width: 100%;
    min-height: 350px;
    height: auto;
    width: auto;
    max-height: 50vh;
    align-self: center;
    padding-right: 30px;

    @media only screen and (max-width: 986px) {
      align-self: center;
      min-height: unset;
      padding-right: 0;

    }
  }

  .contain-product {
    max-width: 1200px;
    margin: 0 64px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap-reverse;

    @media only screen and (max-width: 986px) {
      margin: 36px 24px 0;
      justify-content: center;
    }
  }

  .hero-img-trm {
    position: relative;
    z-index: 3;
    max-width: calc(50% - 64px);
    height: auto;
    width: auto;
    max-height: 70vh;
    min-height: 400px;
    align-self: center;
    padding-right: 30px;
  
    @media only screen and (max-width: 986px) {
      max-height: 65vh;
      align-self: center;
      max-width: 90%;
      min-height: unset;
      margin: 30px 0 0 0;
      padding-right: 0;
    }

  }


  .green_span {
    color: var(--bright-purple);
  }
  
  .cpr-title {
    font-size: var(--typography-xl);
    font-family: 'NeuzeitGro-Bol';
    padding: 0;
    padding-bottom: 20px;

    @media only screen and (max-width: 986px) {
      text-align: center;
      position: unset;
      margin: 0;
      width: 100%;
    }
    @media only screen and (max-width: 768px) {
      text-align: left;
      position: unset;
      margin: 0;
      width: 100%;
    }
  }

  .cpr-text {
    font-size: var(--typography-sm);
  }
}
