.logo-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  column-gap: 64px;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-bottom: 32px;

  @media only screen and (max-width: 1328px) {
    margin: 0 auto;
  }

  @media only screen and (max-width: 986px) {
    margin: 0 24px;
  }
  
  @media only screen and (max-width: 768px) {
    margin: 0 24px;    
  }

}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(21% - 64px);
  flex-wrap: wrap;
  
  @media only screen and (max-width: 986px) {
    width: calc(25% - 20px);
    margin: 24px 0;    
  }

  @media only screen and (max-width: 768px) {
    width: calc(33% - 44px);
    margin: 16px 0;
    padding: 0;
  }

  @media only screen and (max-width: 635px) {
    width: calc(50% - 44px);
    margin: 12px 0;
    padding: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
  
}