.logo-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 12px;
  img {
    max-width: 70%;
  }
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .logo-container {
    grid-template-columns: repeat(3, 1fr);
  }
}