.logo-container {
  display: grid;
  margin: 0 var(--default-margin);
  grid-template-columns: repeat(5, 1fr);
  column-gap: 30px;
  img {
    max-width: 90%;
  }
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 968px) {
  .logo-container {
    justify-content:center;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 12px;
    img {
      max-width: 80%;
    }
  }
}