.navbar-collapse {
  flex-grow: 0;
  
  @media only screen and (max-width: 767px) {
    width: 100vw;
    height: 100vh;
    position:relative;
    z-index: 199;
  }
}

button.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active,
.navbar-toggler:active,
.navbar-toggler:hover,
.navbar-toggler.active {
  border: 0;
  box-shadow: none;
}

.navbar {
  z-index: 220;
  display: flex;
  justify-content: space-between;

  .navbar-logo {
    height: 100%;
    max-height: 45px;
    padding: 5px 0;
    width: auto;
    z-index: 200;
 }

  ul {
    color: white;
    gap: 64px;
    font-size: var(--typography-sm);
    @media only screen and (max-width: 768px) {
      gap: 32px;
      margin: 64px 0 64px;
      font-size: var(--typography-md);

    }

    > * {
      padding: 0;
    }
  }

  button {
    font-family: 'NeuzeitGro-Bol';
    font-size: 18px;

    @media only screen and (max-width: 767px) {
      font-size: var(--typography-md);

    }


  }

  li.nav-item {
    align-self: center;
  
    @media only screen and (max-width: 767px) {
      align-self: flex-start;
      font-size: var(--typography-md);
    }
  }

  .navbar-nav {
    .nav-link {
      color: white;
      font-family: 'NeuzeitGro-Lig';
      text-align: left;
      padding-right: 0;
      padding-left: 0;
      padding: 0;
      align-self: center;
  
      &.dropdown-toggle::after {
        background-image: url('https://2579958.fs1.hubspotusercontent-na1.net/hubfs/2579958/Blend01/arrow-down%20(1).svg');
        background-repeat: no-repeat;
        border: unset;
        height: 7px;
        transform: translateY(3px);
        width: 12.5px;
      }
  
      &.dropdown-toggle.show::after {
  
        transform: rotate(180deg);
      }
    }
  
    .nav-link:hover {
      color: var(--bright-green);
    }
  }
}

.nav-link-dark {
  font-family: 'NeuzeitGro-Lig';
  text-align: left;

  &.dropdown-toggle::after {
    background-image: url('https://2579958.fs1.hubspotusercontent-na1.net/hubfs/2579958/Blend01/arrow-down%20(1).svg');
    background-repeat: no-repeat;
    border: unset;
    height: 7px;
    transform: translateY(3px);
    width: 12.5px;
  }

  &.dropdown-toggle.show::after {
    transform: rotate(180deg);
  }
}

.navbar-demos,
.navbar-reg {
  width: 100%;
  height: auto;
  background: linear-gradient(var(--dark-purple), #2D2E5B);
}

.navbar-sticky {
  width: 100%;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100; 
  top: 0;
  background: linear-gradient(var(--dark-purple), #2D2E5B);
}

.navbar-expand-md {
  align-items: center;
  margin: 0 64px;

  @media only screen and (max-width: 1128px) {
    margin: 0 64px;
  }

  @media only screen and (max-width: 967px) {
    margin: 0 24px;
  }
}

.navbar-toggler[aria-expanded="true"] {
  border: none;
  span.navbar-toggler-icon {
    background-image: url("/assets/menu-toggle-x.svg");
    border: none;
    }
}

.navbar-toggler[aria-expanded="false"] {
  border: none;
  span.navbar-toggler-icon {
    background-image: url("/assets/menu-toggle-hamburger.svg");
  
    border: none;
    }
}


.nav-menu-below {
  a:focus {
    color: var(--bright-purple);
  }
}

.navbar-nav {
  .custom-menu {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 12px;

    a {
      padding: 15px;
      font-size: var(--typography-sm);
      font-family: 'NeuzeitGro-Lig';
    }
    a:hover {
      background-color: var(--light-purple);
    }
  }
}

.navbar-custom {
  background-color: rgb(40,43,74);
  display: flex;
}

.nav-link{
  color:white;
  font-family: 'NeuzeitGro-Lig';

}

.navbarimagepulse{
  padding: 1em;
  animation: call 2s infinite linear;
}

.navbarimage{
  padding: 1em;
}

  .navbar-nav {
    .dropdown-menu {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      padding: 10px 12px;
  
      a {
        padding: 13px;
        font-size: 16px;
        font-family: 'NeuzeitGro-Lig';
      }
      a:hover {
        background-color: var(--light-purple);
      }
    }
  }