.navbar-collapse {
  flex-grow: 0;
  
  @media only screen and (max-width: 767px) {
    width: 100vw;
    height: 100vh;
    position:relative;
    z-index: 199;
  }
}

button.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active,
.navbar-toggler:active,
.navbar-toggler:hover,
.navbar-toggler.active {
  border: 0;
  box-shadow: none;
}

.navbar {
  position: relative;
  width: 100%;
  z-index: 220;
  margin: 0 auto;

  .navbar-logo {
    height: 40%;
    z-index: 200;
    position: absolute;
    left: 64px;
    top: unset;
    @media only screen and (max-width: 968px) {
      left: 32px;
    }

    @media only screen and (max-width: 767px) {
      top: 12px;
      height: 1.5em;
    }
 }

  ul {
    color: white;
    gap: 64px;
    margin-right: 64px;
    font-size: 17px;
    @media only screen and (max-width: 767px) {
      align-items: start;
      gap: 32px;
      margin: 64px;

    }
  }

  button {
    font-family: 'NeuzeitGro-Bol';

  }

  .nav-link {
    color: white;
    font-family: 'NeuzeitGro-Lig';
    text-align: left;

    &.dropdown-toggle::after {
      background-image: url('https://2579958.fs1.hubspotusercontent-na1.net/hubfs/2579958/Blend01/arrow-down%20(1).svg');
      background-repeat: no-repeat;
      border: unset;
      height: 7px;
      transform: translateY(3px);
      width: 12.5px;
    }

    &.dropdown-toggle.show::after {

      transform: rotate(180deg);
    }
  }

  .nav-link:hover {
    color: var(--bright-green);
  }
}

.navbar-expand-md {
  justify-content: flex-end;
  background-color: var(--dark-purple);
  align-items: center;
}

.navbar-toggler[aria-expanded="true"] {
  border: none;
  span.navbar-toggler-icon {
    background-image: url("/assets/menu-toggle-x.svg");
  
    border: none;
    }
}

.navbar-toggler[aria-expanded="false"] {
  border: none;
  span.navbar-toggler-icon {
    background-image: url("/assets/menu-toggle-hamburger.svg");
  
    border: none;
    }
}

  .dropdown-menu {
    border: 0.1 var(--dark-purple);
    padding: 12px;
    a {
      padding: 15px;
      font-size: 15px;
      font-family: 'NeuzeitGro-Lig';
    }
    a:hover {
      background-color: var(--light-purple);
    }
  }


/* ul {
  position: absolute;
  top: 12px;
  right: 5vw;  
  list-style-type: none;
  color: var(--white);
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

ul.main-nav {
  top: 32px;
}

li {
  color: var(--white);
  list-style-type: none;
  padding-left: 30px;
}

li:hover,
li:focus {
  opacity: 0.8;
}

.nav-arrow {
  height: 10px;
  transform: translateY(-14%);
  padding-left: 5px;
}

.nav-menu-below {
  height: auto;
  z-index: 10;
  width: 150px;
  transform: translate(-50%, 20%);
  border-radius: var(--border-radius);
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  @media only screen and (max-width: 968px) {
    background-color: var(--light-purple);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.481);
  }
  p {
    padding: 12px;
    margin: 0;
    border-bottom: 0.6px rgba(128, 128, 128, 0.616) solid;
  }

  p:focus,
  p:hover {
    background-color: var(--dark-purple);
    color: var(--light-purple);
  }

  a {
    color: var(--dark-purple);
    font-family: 'NeuzeitGro-Lig';
    align-items: space-around;
  }
  a:first-child {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }
  a:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

ul {
  @media only screen and (max-width: 968px) {
   top: 140px; 
   justify-content: space-around;
  }
} */