.p2pi-container {
  height: 100%;
  /* background: linear-gradient(-90deg, #2D2668, #2C0B25, #1B0D36, #2D2668); */
  background: linear-gradient(90deg, rgb(11, 6, 62), #2D2668, var(--bright-purple));
  /* background-color: var(--dark-purple); */
  margin: 0 auto;
  color: white;
  font-family: 'NeuzeitGro-Lig';
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 18px;
  margin-bottom: 48px;
  position: relative;
  z-index: 10;
  
}

.p2pi-image {
  flex: 0 0 calc(40% - 32px);
  text-align: center;
  padding-right: 48px;
  img {
    max-height: 300px;

    @media only screen and (max-width: 786px) {
      max-width: 80vw;
      height: auto;
    }

  }

  
  @media only screen and (max-width: 986px) {
    flex: 0 0 100%;
    padding-right: 0;
  }

  transition: 200ms transform ease-in-out;

}

.p2pi-image:hover {
  transform: scale(1.025);
}

.p2pi-content {
  flex: 0 0 calc(60% - 128px);
  max-width: 80%;
  padding: 32px 12px;
  
  @media only screen and (max-width: 986px) {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 24px;
  }

  h2 {
    font-family: 'NeuzeitGro-Bol';
    padding-bottom: 24px;
    color: #FDFAFE;
    font-size: 28px;
    /* text-shadow: 0px 0px 10px #a437d6; */
    text-shadow: 0px 0px 10px var(--dark-purple); 
    @media only screen and (max-width: 986px) {
      margin: 0 24px;
      font-size: 28px;
    }
  }
}

.p2pi-description {
  background-color: rgba(0, 0, 0, 0.451);
  width: 80%;
  margin: 32px auto 0;
  border-radius: var(--border-radius);
  color: var(--light-purple);
  padding: 20px;
  p{
    font-size: var(--typography-sm);
  }
}

.p2pi-event {
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.117);
  text-align: left;
  color: white;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  margin: auto;
  max-width: unset;

  p {
    font-size: var(--typography-md);
  }

  @media only screen and (max-width: 786px) {
    flex-direction: column;
    max-width: calc(100% - 48px);
    margin: auto;
  }
}

.p2pi-event-br {
  @media only screen and (max-width: 786px) {
    display: none;
  }
}

.p2pi-event-space {
  display: none;
  @media only screen and (max-width: 786px) {
    display: unset;
  }
}

.p2pi-event:hover {
  background-color: rgba(255, 255, 255, 0.156);
}

.p2pi-event-date {
  /* border-right: 1px solid rgba(255, 255, 255, 0.497); */
  text-wrap: nowrap;
  font-size: var(--typography-lg);
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: 'NeuzeitGro-Bol';
  padding: 0 24px;
  margin: auto 0;
  height: 100%;
 
  p {
    font-family: 'NeuzeitGro-Lig';
    max-width: 120px;
    margin: 0;
    font-size: var(--typography-xs);
  }

  @media only screen and (max-width: 786px) {
    background-color: #cb9e2240;
    color: white;;
  }

}

.p2pi-event-title {
  padding: 12px 32px;
  border-left: 1px solid rgba(255, 255, 255, 0.497);
  font-family: 'NeuzeitGro-Lig';

  justify-self: center;
  align-self: center;

  @media only screen and (max-width: 786px) {
    text-align: center;
    border-left: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.497);
  }

  .p2pi-event-title-title {
    font-family: 'NeuzeitGro-Bol';
    font-size: var(--typography-sm);

  }

  p {
    font-size: var(--typography-sm);
    margin: 0;
  }
}

.p2pi-map-icon {
  height: 24px;
  padding: 0 10px 5px 0;
}