.product-card-container {
  position: relative;
  flex: 1 1 50%;
  max-width: 420px;
  border-radius: var(--border-radius);
  background-color: var(--white);
  font-family: 'NeuzeitGro-Lig';
  color: var(--white);
  overflow:hidden;

  button:hover {
    color: var(--dark-purple);
  }

  @media only screen and (max-width: 987px){
    margin: 0;
    max-width: 75%;
  }

}

#product-card-subtitle {
  font-weight: normal;
  font-size: 28px;
  font-family: 'NeuzeitGro-Lig';
}

.product-card-title {
  h2 {
    font-size: 36px;
  }
}

.product-container {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-image: url("/assets/CPR_image_bg.jpg"); */
  background-position: 50%;
  /* box-shadow:inset 0px 0px 0px 10px rgba(255, 255, 255, 0.38); */
  background-size: cover;
  max-width: 1000px;
  margin: 0 auto;
}


.grid-product:nth-child(2) {
  margin-bottom: 50px;
}

.grid-product {
  display: flex;
  gap: 64px;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;

  @media only screen and (max-width: 1328px) {
    margin: 0 auto; 
  }

  @media only screen and (max-width: 987px){
    margin: 0 var(--default-margin);
    gap: 48px;

  }

  @media only screen and (max-width: 767px){
    margin: 0 24px;
  }
}

.product-image-container {
  height: 200px;
  overflow:hidden;
}

.product-card-content {
  flex-direction: column;
  z-index: 10;
  padding: 32px 30px 12px;
  align-items: start;
  align-content: stretch;
  justify-content: space-evenly;
  display: flex;
  color: var(--dark-purple);
  padding-bottom: 40px;
  font-family: 'NeuzeitGro-Bol';
  background: var(--white);
}

.product-card-content-bottom {
  align-self: end;
}

.product-card-description {
  font-family: 'NeuzeitGro-Lig';
  padding: 24px 0;
}

.gradient-background {
  background: linear-gradient(var(--dark-purple), white);
}

.product-icon {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 70px;
  justify-content: end;
}

.product-image {
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
  z-index: 1;

  img {
    width: 100%;
    height: auto;
  }
}

.product-card-container:hover {
  .product-image {
    transform: scale(1.1);
  }
}

.demo-button {
  color: var(--bright-purple);
}

.demo-button-container {
  display: flex;
  gap: 7px;
  transition: gap 0.4s ease-in-out;

  .purple-arrow {
    background-image: url("/assets/ArrowPurple.svg");
    height: 18px;
    width: 30px;
    background-repeat: no-repeat;
    height: 15px;
    transform: translateY(4px);
  }
}

.demo-button-container:hover {
  gap: 10px;
}