.product-card-container {
  border-radius: var(--border-radius);
  background-color: var(--dark-purple);
  margin-bottom: 20px;
  font-family: 'NeuzeitGro-Lig';
  color: var(--white);
  overflow:hidden;
  display: flex;
}


#product-card-subtitle {
  font-weight: normal;
  font-family: 'NeuzeitGro-Lig';
}

.product-container {
  border-radius: var(--border-radius);
  background-color: var(--light-purple);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 36px;
  max-width: 1200px;
  margin: 0 auto;

  @media only screen and (max-width: 1328px) {
    margin: 0 64px; 
  }

  @media only screen and (max-width: 987px){
    grid-template-columns: 1fr;
    margin: 0 var(--default-margin);

  }

  @media only screen and (max-width: 767px){
    margin: 0 24px;
  }
}

.product-card-content {
  padding: 32px 10% 12px 10%;
  margin: auto;
  color: var(--white);
  padding-bottom: 60px;
  font-family: 'NeuzeitGro-Bol';
  background: linear-gradient(var(--bright-purple) -100%, var(--dark-purple));
}
 

.product-card-description {
  border-left: 1px rgba(255, 255, 255, 0.4) solid;
  padding-left: 9px;
  font-family: 'NeuzeitGro-Lig';
}

.gradient-background {
  background: linear-gradient(var(--dark-purple), white);
}

.product-image-container {
  overflow: hidden;
}

.product-image {
  background-size: cover;
  width: auto;
  height: 300px;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease-in-out;
  z-index: 1;

  img {
    width: 100%;
    height: auto;
  }
}

.product-card-container:hover {
  .product-image {
    transform: scale(1.1);
  }
}

.demo-button {
  flex-grow: 1;
}