#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow-x: hidden;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "NeuzeitGro-Bol";   /*Can be any text*/
  src: local("NeuzeitGro-Bol"),
  url("/NeuzeitGro-Bol.otf") format("truetype");
}

@font-face { 
  font-family: "NeuzeitGro-Lig";
  src: local("NeuzeitGro-Lig"),
  url("/NeuzeitGro-Lig.ttf") format("truetype");
}

@font-face { 
  font-family: "PulpDisplay-SemiBold";
  src: local("pulp-display-medium"),
  url("/pulp-display-medium.ttf") format("truetype");
}

@font-face { 
  font-family: "Pulp Display";
  src: local("pulp-display-medium"),
  url("/pulp-display-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
  url("/Gilroy-Regular.ttf") format("truetype");
}