:root {
  --dark-purple: #282b4a;
  --white: rgb(255, 255, 255);
  /* --light-purple: rgb(240, 237, 243); */
  --bright-green: rgb(44, 245, 208);
  --secondary-red: #F94554;
  /* --bright-purple: hwb(249 38% 7%); */
  --light-purple: #F0F2F6;
  --bright-purple: rgb(79, 68, 200);
  --border-radius: 10px;
  --default-margin: 64px;
  --muted-green: #3ECC9C;
  --ecrebo-red: #282B4A;
  font-family: 'NeuzeitGro-Bol';
}

h3 {
  padding: 24px 0;
}

html {
  background-color: var(--dark-purple);
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'NeuzeitGro-Bol';
  width: 100%;
}

.container {
  margin: auto;
  margin: 0 32px;
  max-width: 100vw;
  font-family: 'NeuzeitGro-Bol';
}

@media only screen and (max-width: 986px) {
  .container {
    margin: 0 12px;
  }
}

@media only screen and (max-width: 1800px) {
  .container {
    max-width: 1800px;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  max-width: unset;
}

canvas {
  max-width: 100vw;
}
p {
  font-size: 18px;
  line-height: 30px;
}

.footer {
  padding: 10px;
  justify-content: center;
  display: flex;
  font-family: 'NeuzeitGro-Lig';
  background-color: var(--bright-purple);
  color: var(--white);
}

.white-background {
  padding: 20px 0;
  background-color: var(--white);
  margin: 0;

  .main_header {
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 60%;
    text-align: center;

    @media only screen and (max-width: 787px) {
      max-width: 90%;
    }
  }

}

.white-background-product {
  padding: 20px 0;
  background: linear-gradient(var(--dark-purple), var(--bright-purple));
  margin: 0;

  .main_header {
    padding-bottom: 20px;
    padding-top: 20px;
    max-width: 60%;
    text-align: center;

  }

  @media only screen and (max-width: 987px) {
    .main_header {
      max-width: 100%;
      text-align: center;

    }
  }

}



.main_header {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;

  @media only screen and (max-width: 986px) {
    font-size: 30px;
  }
}

.arrow {
  background-image: url("/assets/ArrowGreen.svg");
  height: 18px;
  width: 30px;
  background-repeat: no-repeat;

  @media only screen and (max-width: 986px) {
    height: 12px;
    width: 24px;
  }
}

button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 500px;
  border: 2px var(--bright-green) solid;
  background-color: var(--bright-green);
  padding: 1.3em 1.3em;
  font-family: 'NeuzeitGro-Bol';
  font-size: 16px;

}

a {
  text-decoration: none;
  color: white;
  font-family: 'NeuzeitGro-Bol';
  font-size: 18px;
}

button:hover{
  background-color: transparent;
  color: white;
}

a:hover {
  color: var(--dark-purple);
}


.receiptanim{
  color: rgb(228, 222, 234);
  margin: 0 auto;
  padding-bottom: 0vh;
}


canvas {
  position: absolute;
}

.description {
  min-width: 100vw;
  padding: 0 64px 64px;
  @media only screen and (max-width: 986px) {
    padding: 0 32px 32px;
  }
}

.rivecontainer {
  display: block;
  position: relative;
  background: linear-gradient(195deg, var(--bright-purple), var(--dark-purple), #282B4A);
  border-radius: 0 20px 20px 0;
  @media only screen and (max-width: 986px) {
    border-radius: 0 0 20px 20px; 
    width: calc(100% - 128px);
  }

  @media only screen and (max-width: 786px) {
    border-radius: 0 0 20px 20px; 
    width: 100%;
  }
}

.riveBox{
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  min-height: 500px;

  @media only screen and (max-width: 1000px) {
    min-height: 500px;
    height: 60vh;
  }

  @media only screen and (max-width: 767px) {
    width: 100vw;
    min-width: unset;
    min-height: 100px;
    margin: unset;
  }
}

.rive-flex {
  display: flex;
  position: relative;
  z-index: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  @media only screen and (max-width: 990px) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 40px;

  }
  @media only screen and (max-width: 990px) {
    width: 42vw;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 40px;
    

  }
}

.true {
  opacity: 0;
}

.false {
  opacity: 1;
}

.riveContent {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1200px;

  .rive-row {
    justify-content: center;
    flex-wrap: wrap;
    }

    @media only screen and (max-width: 767px) {
      border: none;
    }
}

.purple-circle {
  position: absolute;
  top: 0;
  width: 290px;
}

.clickhere {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 24px;
  a {
    font-size: 24px;
    color: var(--bright-green);
  }
}

.circles-for-email {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70vw;
}

.externalpagedescription {
  background-color: transparent;
  font-family: 'NeuzeitGro-Lig';
  color: white;
  max-width: 60%;
  margin:auto;
  padding-top: 25px;
  font-size: 20px;
  line-height: 30px;
  background-color: var(--dark-purple);
  border: 0;
  padding: 24px 0;
  text-align: center;

  @media only screen and (max-width: 787px) {
    max-width: 90%;
  }
}

#externalpagebackground{
  background-color:  rgb(40,43,74);
  color: rgb(240,237,243); 

}


.externalpagedescriptionlink{
  max-width: 70%;
  color:rgb(44,245,208);
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.externalpagedescriptionlink:hover{
  color:var(--light-purple);
}

@font-face {
  font-family: "NeuzeitGro-Bol";   /*Can be any text*/
  src: local("NeuzeitGro-Bol"),
  url("/NeuzeitGro-Bol.ttf") format("truetype");
}

@font-face { 
  font-family: "NeuzeitGro-Lig";
  src: local("NeuzeitGro-Lig"),
  url("/NeuzeitGro-Lig.ttf") format("truetype");
}

.light-to-dark-product {
  background: linear-gradient(#faf9fd 30%, var(--light-purple)40%, var(--light-purple));
}

@font-face { 
  font-family: "PulpDisplay-SemiBold";
  src: local("pulp-display-medium"),
  url("/pulp-display-medium.ttf") format("truetype");
}

@font-face { 
  font-family: "Pulp Display";
  src: local("pulp-display-medium"),
  url("/pulp-display-medium.ttf") format("truetype");
}