:root {
  --dark-purple: #282b4a;
  --white: rgb(255, 255, 255);
  --bright-green: rgb(44, 245, 208);
  --secondary-red: #F94554;
  --light-purple: #F0F2F6;
  --bright-purple: rgb(79, 68, 200);
  --border-radius: 10px;
  --default-margin: 64px;
  --muted-green: #3ECC9C;
  --ecrebo-red: #282B4A;
  font-family: 'NeuzeitGro-Bol';

  --typography-xxl: 60px;
  --typography-xl: 45px;
  --typography-lg: 36px;
  --typography-x-md: 30px;
  --typography-md: 24px;
  --typography-sm: 20px;
  --typography-xs: 14px;
  --typography-disclaimer: 10px;

  @media only screen and (max-width: 986px) {
    --typography-xxl: 50px;
    --typography-xl: 40px;
    --typography-lg: 30px;
    --typography-x-md: 30px;
    --typography-md: 25px;
    --typography-sm: 20px;
    --typography-xs: 12px;
    --typography-disclaimer: 10px;  
  }

  @media only screen and (max-width: 786px) {
    --typography-xxl: 40px;
    --typography-xl: 35px;
    --typography-lg: 30px;
    --typography-md: 20px;
    --typography-sm: 18px;
  }

}

h3 {
  padding: 24px 0;
}

html {
  background-color: var(--dark-purple);
  scroll-behavior: smooth;
  margin: 0;
  font-family: 'NeuzeitGro-Bol';
  width: 100%;
  overflow-x: hidden;
}

.container {
  margin: auto;
  margin: 0 32px;
  max-width: 100vw;
  font-family: 'NeuzeitGro-Bol';
}

@media only screen and (max-width: 986px) {
  .container {
    margin: 0 12px;
  }
}

@media only screen and (max-width: 1800px) {
  .container {
    max-width: 1800px;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
}

canvas {
  max-width: 100vw;
}
p {
  font-size: var(--typography-sm);
  line-height: 30px;
}

.footer {
  padding: 10px;
  justify-content: center;
  display: flex;
  font-family: 'NeuzeitGro-Lig';
  background-color: var(--bright-purple);
  color: var(--white);
}

.white-background {
  padding: 20px 0;
  background-color: var(--white);
  margin: 0;
  position: relative;
  z-index: 0;

  .main_header {
    max-width: 1200px;
    text-align: center;

    @media only screen and (max-width: 787px) {
      max-width: 90%;
    }
  }

  .bottom-circle {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 139px;
    right: -33px;
    opacity: 30%;

    @media only screen and (max-width: 986px) {
      width: 139px;
      right: -33px;
    }
    @media only screen and (max-width: 786px) {
      width: 100px;
      right: -33px;
      display: none;
    }
  }

}

.white-background-product {
  padding: 20px 0;
  background: linear-gradient(var(--dark-purple), var(--bright-purple));
  margin: 0;
  position: relative;
  z-index: 10;

  .main_header {
    max-width: 60%;
    text-align: center;

  }

  .green-cta-circle {
    position: absolute;
    top: -50px;
    z-index: -1;
    width: 600px;
    left: -250px;
    @media only screen and (max-width: 986px) {
      width: 600px;
      left: -250px;
    }
    @media only screen and (max-width: 786px) {
      width: 600px;
      left: -250px;
      display: none;
    }
  }

  .top-circle {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 300px;
    right: -10px;
    @media only screen and (max-width: 986px) {
      width: 300px;
      right: -10px;
    }
    @media only screen and (max-width: 786px) {
      width: 260px;
      right: -33px;
      display: none;
    }
  }

  @media only screen and (max-width: 987px) {
    .main_header {
      max-width: 100%;
      text-align: center;

    }
  }

}

.main_header {
  max-width: 900px;
  margin: 20px auto;
  padding: 30px 20px;
  text-align: center;

  @media only screen and (max-width: 986px) {
    font-size: var(--typography-lg);
  }
}

.arrow {
  background-image: url("/assets/ArrowGreen.svg");
  height: 18px;
  width: 30px;
  background-repeat: no-repeat;

  @media only screen and (max-width: 986px) {
    height: 12px;
    width: 24px;
  }
}

button,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  border-radius: 500px;
  border: 2px var(--bright-green) solid;
  background-color: var(--bright-green);
  padding: 22px;
  font-family: 'NeuzeitGro-Bol';
  font-size: var(--typography-sm);
  color: var(--dark-purple);
}

a {
  text-decoration: none;
  color: white;
  font-family: 'NeuzeitGro-Bol';
  font-size: var(--typography-sm);
}

button:hover{
  background-color: transparent;
  color: white;
}

a:hover {
  color: var(--dark-purple);
}


.receiptanim{
  color: rgb(228, 222, 234);
  margin: 0 auto;
  padding-bottom: 0vh;
}


canvas {
  position: absolute;
}

.description {
  min-width: 100vw;
  padding: 0 64px 64px;
  @media only screen and (max-width: 986px) {
    padding: 0 32px 32px;
  }
}

.rivecontainer {
  display: block;
  position: relative;
  background: linear-gradient(195deg, var(--bright-purple), var(--dark-purple), #282B4A);
  border-radius: 0 20px 20px 0;
  @media only screen and (max-width: 986px) {
    border-radius: 0 0 20px 20px; 
    width: calc(100% - 128px);
  }

  @media only screen and (max-width: 786px) {
    border-radius: 0;
    width: 100%;
  }
}

.riveBox{
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 90vh;
  min-height: 500px;

  @media only screen and (max-width: 1200px) {
    min-height: 500px;
    height: 60vh;
  }

  @media only screen and (max-width: 767px) {
    width: 100vw;
    min-width: unset;
    min-height: 100px;
    margin: unset;
  }
}

.rive-flex {
  display: flex;
  position: relative;
  z-index: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  @media only screen and (max-width: 990px) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 40px;

  }
  @media only screen and (max-width: 990px) {
    width: 42vw;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 40px;
    

  }
}

.true {
  opacity: 0;
}

.false {
  opacity: 1;
}

.riveContent {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1600px;

  .rive-row {
    justify-content: center;
    flex-wrap: wrap;
    }

    @media only screen and (max-width: 767px) {
      border: none;
    }

  @media only screen and (max-width: 1600px) {
    max-width: 1200px;
  }
}

.purple-circle {
  position: absolute;
  top: 0;
  width: 290px;
  right: 0;
  rotate: 90deg;

  @media only screen and (max-width: 786px) {
    display: none;
  }
}

.clickhere {
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: var(--typography-md);
  a {
    font-size: var(--typography-md);
    color: var(--bright-green);
  }
}

.circles-for-email {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70vw;
}

.externalpagedescription {
  background-color: transparent;
  font-family: 'NeuzeitGro-Lig';
  color: white;
  max-width: 60%;
  margin:auto;
  padding-top: 25px;
  font-size: var(--typography-sm);
  line-height: 30px;
  background-color: var(--dark-purple);
  border: 0;
  padding: 24px 0;
  text-align: center;

  @media only screen and (max-width: 787px) {
    max-width: 90%;
  }
}

#externalpagebackground{
  background-color:  rgb(40,43,74);
  color: rgb(240,237,243); 

}


.externalpagedescriptionlink{
  max-width: 70%;
  color:rgb(44,245,208);
  margin: 0 auto;
  font-size: var(--typography-sm);
  text-align: center;
  justify-content: center;
  display: flex;
}

.externalpagedescriptionlink:hover{
  color:var(--light-purple);
}

@font-face {
  font-family: "NeuzeitGro-Bol";   /*Can be any text*/
  src: local("NeuzeitGro-Bol"),
  url("/NeuzeitGro-Bol.ttf") format("truetype");
}

@font-face { 
  font-family: "NeuzeitGro-Lig";
  src: local("NeuzeitGro-Lig"),
  url("/NeuzeitGro-Lig.ttf") format("truetype");
}

.light-to-dark-product {
  background: linear-gradient(50deg, var(--bright-purple) 15%, rgb(208, 232, 255) 60%, var(--bright-green)110%);
  position: relative;

  .disclaimer {
    color: var(--dark-purple);
    background-color: rgba(255, 255, 255, 0.359);
    padding: 3px;
    border-radius: 3px;
  }
}

@font-face { 
  font-family: "PulpDisplay-SemiBold";
  src: local("pulp-display-medium"),
  url("/pulp-display-medium.ttf") format("truetype");
}

@font-face { 
  font-family: "Pulp Display";
  src: local("pulp-display-medium"),
  url("/pulp-display-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
  url("/Gilroy-Regular.ttf") format("truetype");
}

button {
  color: var(--dark-purple);
}
